/* !!!!!!!  HIDE  IT  WELL  !!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*!!!!!!!!!!!!!!!!!!!!!! RESET CSS !!!!!!!!!!!!!!!!!!!!!!*/
P,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  margin: 0;
  max-width: 100%;
  height: auto;
  width: 100%;
}

/*!!!!!!!!!!!!!!!!! body style !!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.cardset {
  display: block;
}
@media screen and (min-width: 480px) {
  .cardset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.accent {
  color: orangered;
}

.current {
  color: rgb(122, 76, 6);
  border: 3px solid rgb(32, 20, 2);
  background-color: rgb(243, 208, 9);
}

body {
  background-color: #AFB1B8;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

.icon-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 15px;
}

.icon-cont-part {
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100%;
}

.done {
  fill: green;
}

.undone {
  fill: white;
}

.heading {
  font-family: "Freckle Face", cursive;
  font-weight: 14px;
  letter-spacing: 1px;
  font-size: 40px;
}

.it-font {
  font-family: "IBM Plex Mono", monospace;
  color: black;
}

.handwritten-font {
  font-family: "Pangolin", cursive;
  color: black;
}

.fancy-font {
  font-family: "Finger Paint", cursive;
}

.section {
  padding: 20px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 44px 0;
  }
}

.flex-row {
  margin: 0 auto;
  display: block;
}
@media screen and (min-width: 768px) {
  .flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 35px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: dotted;
  padding: 3px;
}

.section-thumb {
  margin: 0 auto;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  overflow: overlay;
  background-color: white;
  width: 400px;
  height: 600px;
}
@media screen and (min-width: 768px) {
  .section-thumb {
    width: 600px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .section-thumb {
    width: 680px;
  }
}

.section-aim {
  font-family: "Finger Paint", cursive;
  font-size: 16px;
  line-height: 1.17;
}

.section-title {
  font-family: "Freckle Face", cursive;
  font-weight: 600;
  color: rgb(243, 208, 9);
  font-size: 32px;
  line-height: 1.36;
  max-width: 600px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-info-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.section-it-title {
  font-family: "Freckle Face", cursive;
  font-weight: 600;
  color: rgb(243, 208, 9);
  font-size: 22px;
  line-height: 1.36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.section-info {
  display: block;
}

.section__image--xxl {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section__image--xxl {
    width: 45%;
  }
}

.section-icon {
  fill: white;
  width: 32px;
  height: 32px;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.section-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__wrap {
  width: 220px;
  height: auto;
  display: inline-block;
  border-radius: 10px;
}

.logo {
  font-family: "Freckle Face", cursive;
  font-weight: 600;
  color: rgb(32, 20, 2);
  font-size: 35px;
  line-height: 1.16;
  display: inline-block;
  text-align: justify;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: auto;
  height: auto;
  margin-left: 55px;
  text-shadow: 2px 2px rgb(243, 208, 9);
}
.logo:hover, .logo:focus {
  color: orangered;
}

.home, .it, .timetable {
  position: relative;
}
.home::before, .it::before, .timetable::before {
  content: "";
  z-index: 0;
  position: absolute;
  top: -10px;
  left: -60px;
  display: inline-block;
  width: 55px;
  height: 55px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .home::before, .it::before, .timetable::before {
    font-size: 50px;
  }
}
.home::before {
  background-image: url(../images/layout/house_colour.png);
}

.it::before {
  background-image: url(../images/layout/smphone.jpg);
}
@media screen and (min-width: 768px) {
  .it::before {
    background-image: url(../images/layout/tab.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .it::before {
    background-image: url(../images/layout/comp-pc.png);
  }
}

.timetable::before {
  background-image: url(../images/layout/comp-planner.png);
}

.heading {
  font-family: "Freckle Face", cursive;
  font-weight: 14px;
  letter-spacing: 1px;
  font-size: 40px;
}

.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.recent-links {
  padding: 3px 0;
  background-color: rgb(32, 20, 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
  overflow: hidden;
  row-gap: 10px;
}

.recent-link {
  font-size: 10px;
  line-height: 1.16;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__item {
  position: relative;
  display: none;
}
.nav__item:hover .mob-menu-icon, .nav__item:focus, .nav__item:focus .mob-menu-icon, .nav__item:hover {
  fill: white;
}
.nav__item:hover .nav__link--gdisk, .nav__item:focus .nav__link--gdisk {
  color: white;
}
@media screen and (min-width: 768px) {
  .nav__item {
    border-radius: 12px;
    padding: 1px 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(243, 208, 9, 0.7);
  }
}
@media screen and (min-width: 1200px) {
  .nav__item {
    border: 1px single gray;
    background-color: transparent;
  }
}

.mob-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
}
@media screen and (min-width: 768px) {
  .nav__icon {
    width: 40px;
  }
}
@media screen and (max-width: 1199px) {
  .nav__link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-family: "Finger Paint", cursive;
    font-size: 18px;
    line-height: 1.17;
    color: tomato;
  }
}

.gservices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.gservices-wra {
  display: block;
  width: 45px;
  height: 45px;
}

.gdisk-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.nav__link--gdisk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .nav__link--gdisk {
    display: block;
    height: 18px;
    border-radius: 3px;
    color: rgb(32, 20, 2);
    padding: 3px 5px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 12px;
    line-height: 1.12;
  }
}

.vidget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 12px;
  padding-left: 7px;
  width: 95px;
  height: 95px;
  border: 1px solid red;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.vidget.learn {
  background-image: url(../images/vidget/learn.png);
}

/* !!!-------------footer-----------!!!! */
.skillbox {
  padding-top: 60px;
  padding-bottom: 60px;
}

.skillbox-img {
  width: 50%;
}

.skillbox-container {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: tomato;
  border-radius: 0 0 15px 15px;
  padding: 30px 15px;
  gap: 30px;
}
@media screen and (max-width: 479px) {
  .skillbox-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 480px) {
  .skillbox-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 15px;
  }
}

.skillbox-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.skillbox-block__title {
  display: inline-block;
  color: black;
  font-weight: 14px;
  letter-spacing: 1px;
  font-family: "Pangolin", cursive;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-btn {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 78px;
  height: 78px;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn-ava {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border: none;
  background-color: transparent;
  width: 78px;
  height: 78px;
}

.menu-icon {
  font-size: 12px;
  width: 72px;
  height: 72px;
  stroke: rgb(32, 20, 2);
}
.menu-icon:hover, .menu-icon:focus {
  fill: rgb(243, 208, 9);
  stroke: transparent;
}

.menu-icon-ava {
  font-size: 12px;
  width: 72px;
  height: 72px;
}
.menu-icon-ava:hover, .menu-icon-ava:focus {
  fill: rgb(243, 208, 9);
  stroke: transparent;
}

.mob-menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  width: 38px;
  height: 38px;
}

.mob-menu-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  fill: rgb(243, 208, 9);
  stroke: rgb(32, 20, 2);
}
.mob-menu-icon:hover, .mob-menu-icon:focus {
  stroke: white;
  fill: orangered;
  border-radius: 50%;
  border: 1px solid white;
}

.symbols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  width: 20px;
}

.symbol-icon {
  display: inline-block;
  width: 18px;
  fill: rgb(243, 208, 9);
}
.symbol-icon:hover, .symbol-icon:focus {
  fill: rgb(32, 20, 2);
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  width: 78px;
  height: 78px;
}

.sign-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  fill: rgb(245, 243, 239);
  stroke: orangered;
  stroke-width: 2px;
}
.sign-icon:hover, .sign-icon:focus {
  stroke: white;
  fill: orangered;
}

.routine-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  width: 38px;
  height: 38px;
}

.routine-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  fill: rgb(243, 208, 9);
}
.routine-icon:hover, .routine-icon:focus {
  fill: rgb(32, 20, 2);
}

.object-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  fill: rgb(243, 208, 9);
}
.object-icon:hover, .object-icon:focus {
  fill: rgb(32, 20, 2);
}

.doc-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.doc-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 0px 3px 7px;
  width: 100%;
  height: 40px;
  border: 3px solid white;
  border-radius: 7px 0 7px 0;
}

.doc-icon {
  width: 42px;
  height: 42px;
  fill: white;
  stroke: rgb(32, 20, 2);
}

.doc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 14px;
  border-left: 1px solid white;
}

.doc-class {
  display: inline-block;
  border-right: 1px dotted rgb(32, 20, 2);
  border-bottom: 1px dotted rgb(32, 20, 2);
  padding: 3px;
}

.doc-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  padding: 3px 7px 7px 7px;
  border-top: 1px solid white;
}

.doc-name-list {
  padding-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.doc-name-item {
  padding: 3px;
  margin: 2px;
  background-color: rgb(32, 20, 2);
}

.doc-name-link {
  display: inline-block;
  width: 100%;
}

.step-section {
  padding: 7px 0;
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .step-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
  }
}

.steps-icon {
  fill: white;
  width: 22px;
  height: 22px;
}

.rotate45 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rotate90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rotate180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.step-first {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  height: 58px;
  width: 58px;
  background-repeat: no-repeat;
  background-position: center;
}
.step-first .steps-icon {
  fill: white;
}

.step {
  position: relative;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  padding: 2px;
  border-radius: 7px;
  width: 32px;
  height: 32px;
}
.step ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-color: rgba(9, 158, 21, 0.5);
  border: 1px solid white;
  display: none;
}

@media screen and (max-width: 479px) {
  .steps-thumbs {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .steps-thumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.step-thumb {
  height: 100px;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid white;
  margin-bottom: 7px;
}
@media screen and (max-width: 479px) {
  .step-thumb {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .step-thumb {
    width: calc((100% - 40px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .step-thumb {
    width: calc((100% - 80px) / 3);
  }
}

.done {
  border: 1px solid green;
}
.done .steps-icon {
  fill: green;
}
.done::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50%;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 1px solid green;
  background-image: url(../images/icons/icon-done.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  border-radius: 4px;
}

.processing {
  background-color: yellow;
  border: 1px solid yellow;
}
.processing::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50%;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  border: 1px solid yellow;
  background-image: url(../images/icons/gears.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  border-radius: 4px;
}

.undone::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30%;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  background-image: url(../images/icons/question.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  border-radius: 4px;
}

.step-link-title {
  background-color: rgb(243, 208, 9);
}

.steps {
  padding: 3px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  gap: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step-link {
  font-size: 10px;
  line-height: 1.16;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
  height: 50px;
  border-radius: 4px;
  border-style: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #F5F4FA;
  border-style: none;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
}
.filter__button:hover, .filter__button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.close__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close__icon {
  fill: #000000;
}
.form__submit {
  width: 200px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__submit:hover, .form__submit:focus {
  background-color: #188CE8;
}

.menu-btn {
  background-color: transparent;
  border: none;
}

.mob-menu__btn--open {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .mob-menu__btn--open {
    display: none;
  }
}

.mob-menu__btn--close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mob-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #AFB1B8;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mob-modal {
    display: none;
  }
}

.mob-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-bottom: 30px;
}

.mob-menu__link {
  display: block;
  font-size: 40px;
  color: black;
}
.mob-menu__link.current {
  color: rgb(243, 208, 9);
}

.mob-connect__link--phone {
  display: block;
  font-size: 24px;
  color: tomato;
  margin-bottom: 32px;
}
@media screen and (min-width: 480px) {
  .mob-connect__link--phone {
    font-size: 34px;
  }
}

.mob-connect__link {
  display: block;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 63px;
}
@media screen and (min-width: 480px) {
  .mob-connect__link {
    font-size: 24px;
  }
}

.mob-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.mob-social__item:not(:last-child) {
  height: 22px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mob-social__link {
  display: block;
  font-size: 12px;
  line-height: 1.22;
  color: tomato;
}
@media screen and (min-width: 480px) {
  .mob-social__link {
    font-size: 18px;
  }
}

.mob-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding: 3px 5px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
  opacity: 1;
  -webkit-transition: opacity var(--common-transition), visibility var(--common-transition);
  transition: opacity var(--common-transition), visibility var(--common-transition);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 609px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, 0) scaleY(1);
          transform: translate(-50%, 0) scaleY(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (min-height: 581px) {
  .modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scaleY(1);
            transform: translate(-50%, -50%) scaleY(1);
  }
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scaleY(0);
          transform: translate(-50%, -50%) scaleY(0);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.form__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form {
  width: 100%;
  height: 100%;
  padding: 40px;
}

.form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  margin-bottom: 10px;
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.6);
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border: 1px solid tomato;
}
.form__input:focus-within {
  border: 1px solid tomato;
  outline: none;
}

.form__textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:focus {
  border: 1px solid tomato;
}
.form__textarea:focus-within {
  border: 1px solid tomato;
  outline: none;
}

.input-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover + .input-icon, .form__input:focus + .input-icon {
  fill: tomato;
}
.form__input:focus-within + .input-icon {
  fill: tomato;
}

.form__validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.form__comment {
  margin-bottom: 20px;
}

.form__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: tomato;
}

.validation__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  width: 425px;
  height: 24px;
  padding: auto 0;
}
@media screen and (max-width: 1200px) {
  .validation {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .validation {
    line-height: 1.7;
  }
}

.validation__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.validation__input:checked + .validation__icon {
  background-color: tomato;
  background-image: url(../images/icon-check.svg);
  border: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* !!!!!!!!!!!-------header--------!!!!!!!!!!!!!!!!*/
.header {
  margin: 0 auto;
  padding: 6px 0 6px 0;
  width: 100%;
  height: inherit;
  min-width: 256px;
  background-color: rgb(122, 76, 6);
  max-width: 1200px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header {
    height: 90px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .header__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.header__img {
  width: 151px;
  height: 30px;
}

.header__nav {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.hero-section {
  margin: 0 auto;
  padding: 0 6px;
  width: 100%;
  min-width: 256px;
  max-width: 1200px;
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 768px) {
  .hero-section {
    height: 551px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    height: 867px;
  }
}

.hero__container {
  display: block;
  width: 100%;
  height: 100%;
  display: block;
}
@media screen and (min-width: 480px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.hero-top-menu {
  display: block;
  width: 100%;
  height: 65px;
  background-color: red;
}

.guide__bg {
  background: url(../images/map-bg.jpg), -webkit-gradient(linear, left top, right top, from(rgb(2, 0, 36)), color-stop(21%, rgba(22, 121, 9, 0.7)), to(rgb(13, 83, 5)));
  background: url(../images/map-bg.jpg), linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(22, 121, 9, 0.7) 21%, rgb(13, 83, 5) 100%);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center;
}

.home__bg {
  background-size: 460px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/layout/bookshelf.png);
}
@media screen and (min-width: 768px) {
  .home__bg {
    background-size: 760px;
    background-image: url(../images/layout/layout-lesson.png);
  }
}
@media screen and (min-width: 1200px) {
  .home__bg {
    background-size: 1200px;
    background-image: url(../images/layout/study.png);
  }
}

.gadget__bg {
  background-size: 480px 778px;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../images/layout/smphone.svg);
}
@media screen and (min-width: 768px) {
  .gadget__bg {
    background-size: 768px 551px;
    background-image: url(../images/layout/tab.svg);
  }
}
@media screen and (min-width: 1200px) {
  .gadget__bg {
    background-size: 1200px 867px;
    background-image: url(../images/layout/comp-pc.svg);
  }
}

.timetable__bg {
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center 150px;
  background: url(../images/layout/study.png);
  background-size: cover;
}

.storage__bg {
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: url(../images/layout/storage.jpg);
}

/* !!!-------------footer-----------!!!! */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(122, 76, 6);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 0 15px 15px;
  padding: 30px 15px;
  gap: 30px;
}
@media screen and (max-width: 479px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 480px) {
  .footer-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 15px;
  }
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.footer-block__title {
  display: block;
  color: white;
  font-weight: 14px;
  letter-spacing: 1px;
  font-family: "Pangolin", cursive;
}

.time-btn {
  width: 20px;
  height: 20px;
}

.time-icon {
  fill: white;
  width: 100%;
  height: 100%;
}

.main-info__section {
  height: auto;
  background-color: white;
  padding-bottom: 0;
}

.main-info__container {
  border: 3px solid tomato;
  background-color: gray;
  border-radius: 25px 25px 0 0;
  padding: 15px;
  border-bottom: 0;
  padding-bottom: 5px;
  position: relative;
}

.main-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 479px) {
  .main-info__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 480px) {
  .main-info__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
@media screen and (max-width: 479px) {
  .main-info__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 480px) {
  .main-info__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
}
.category__title {
  color: tomato;
  font-family: "Pangolin", cursive;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  background-color: white;
  border-radius: 3px;
  padding: 3px;
}

.main-info__content {
  color: white;
}

.lesson__name {
  color: white;
  font-family: "Finger Paint", cursive;
  font-size: 24px;
  text-transform: uppercase;
}

.lesson__stats {
  font-family: "IBM Plex Mono", monospace;
  font-size: 10px;
  line-height: 1.12;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 21px;
  padding: 3px 12px;
  border-radius: 9px 9px 0 0;
  background-color: rgba(245, 240, 240, 0.5);
}

.lesson-plan__section {
  padding-top: 0;
}

.lesson-plan__container {
  border-right: 3px solid tomato;
  border-left: 3px solid tomato;
  background-color: lightgray;
  position: relative;
  padding-top: 5px;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.title__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  width: 62px;
  border-radius: 3px;
  border: 3px solid tomato;
  background-color: tomato;
  margin-right: 25px;
}

.skills__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid tomato;
  background-color: white;
}

.skills__icons--decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  width: 82px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  border-radius: 50%;
  border: 3px solid gray;
  background-color: white;
}

.lesson-part__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 479px) {
  .lesson-part__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 480px) {
  .lesson-part__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.lesson-part__item {
  display: block;
  margin-bottom: 15px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .lesson-part__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .lesson-part__item {
    width: calc((100% - 60px) / 3);
  }
}

.lesson-part__title {
  margin-bottom: 9px;
  display: block;
  background-color: tomato;
  padding: 3px 9px;
  border-radius: 3px;
  font-family: "Finger Paint", cursive;
  color: white;
  position: relative;
}
.lesson-part__title--active {
  background-color: white;
  display: inline-block;
  font-family: "Finger Paint", cursive;
  color: tomato;
  padding: 5px;
  border-radius: 15px;
  font-size: 20px;
}

.lesson__link {
  color: black;
}
.lesson__link:hover, .lesson__link:focus {
  color: tomato;
}

.instruction__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.lesson-part__instructions {
  padding: 9px;
  border: 1px solid gray;
  border-radius: 0 0 9px 9px;
  background-color: white;
}

.instruction__icon-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lesson__img {
  display: block;
  width: 100%;
  background-color: gray;
  border: 1px solid white;
}

.img__top {
  border-radius: 15px 15px 0 0;
  display: block;
  width: 100%;
  background-color: tomato;
  padding: 9px;
  border: 1px solid white;
}

.img__bottom {
  padding: 3px;
  border-radius: 0 0 15px 15px;
  display: block;
  width: 100%;
  background-color: white;
  margin-bottom: 5px;
}

.part__active {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: underline;
  font-size: 18px;
}

.timetable__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.timetable-img {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timetable-thursday {
  font-family: "Finger Paint", cursive;
}

.timetable-title__past {
  margin-bottom: 5px;
  color: gray;
  font-size: 14px;
  border-bottom: 3px solid green;
}

.timetable-title__day {
  margin-bottom: 5px;
  color: tomato;
  font-family: "Pangolin", cursive;
  font-size: 18px;
  line-height: 1.7;
}

.timetable-title__fut {
  margin-bottom: 5px;
  color: black;
  font-size: 14px;
}

.bloom {
  padding: 3px 16px;
  display: block;
  width: calc((100% - 20px) / 3);
  border: 3px solid white;
  border-radius: 10px;
  border-style: outset;
}

.bloom-routines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.remember__mode {
  fill: purple;
  border-color: purple;
  color: purple;
  background-color: orange;
}

.understand__mode {
  fill: blue;
  border-color: blue;
  color: blue;
}

.apply__mode {
  fill: green;
  border-color: green;
  color: green;
}

.analize__mode {
  fill: yellow;
  border-color: yellow;
  color: yellow;
}

.evaluate__mode {
  fill: orange;
  border-color: orange;
  color: orange;
}

.create__mode {
  fill: tomato;
  border-color: tomato;
  color: tomato;
}

.routine-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.16;
  color: gray;
}

.mode-routines {
  padding: 3px 16px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  line-height: 1.1;
  color: white;
}

.set-icon {
  stroke: rgb(32, 20, 2);
  fill: rgb(243, 208, 9);
  width: 90%;
  height: 90%;
}

.set-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid rgb(32, 20, 2);
}/*# sourceMappingURL=main.css.map */