<header class="header">
    <div class="container ">
        <div class="header__container">
            

                    <a class="logo" href="./index.html" alt="Go home">
                        <span class="accent">Skool</span>Timez
                    </a>
                
                <nav class="header__nav">
                    
                    <ul class="nav">
                        
                        <li class="nav__item current">
                            <a class="nav__item"  href="./index.html" alt="Home page">
                            <div class="nav__icon">
                                <img src="./images/vidget/nav-home.png" width="35">
                            </div>
                            <span class="nav__link--gdisk">./index.html</span></a></li>


                        <li class="nav__item">
                            <a href="./timetable.html" class="nav__item" alt="My timetable">
                            <div class="nav__icon">
                                <img src="./images/vidget/nav-time-tab.png" width="85">
                            </div>
                            <span class="nav__link--gdisk" >./timetable.html</span>
                             </a>
                        </li>
                        <li class="nav__item">
                            <a href="./guide.html"
                             class="nav__item" alt="How to do instruction">
                            <div class="nav__icon">
                                <img src="./images/vidget/nav-guide.png" width="35">
                            </div>
                      <span class="nav__link--gdisk">./guide.html</span>   </a>
                           
                        </li>
                        <li class="nav__item">
                            <a href="./storage.html"
                            class="nav__item" alt="My files">
                            <div class="nav__icon">
                                <img src="./images/vidget/nav-myFolder.png" width="35">
                            </div>
                            <span class="nav__link--gdisk">./storage.html</span></a>
                        </li>
                       
                        
                    </ul>
                </nav> 
                <div class="menu-btn">
                    <svg class="menu-icon" width="48" height="48">
                        <use href="../images/icon.svg#icon-flower"></use>
                    </svg>
                </div>

                

         
        </div>   
    </div>  
</header>