 <!--page header-->
 <header class="header">
    <div class="container header__container">
        <div class="logo__wrap">
            <a class="logo" href="./index.html"><span class="accent">Skool</span>Timez</a>
        </div>
        <!-- <div class="header__img">
            <img src="./images/elements/steps.png" width="303" height="60"/>
        </div> -->
        <nav class="header__nav">
            <ul class="nav">
                
                <li class="nav__item">
                    <div class="nav__icon">
                        <img src="./images/vidget/nav-home.png" width="35">
                    </div>
                    <a class="nav__link" href="./index.html">./index.html</a></li>
                <li class="nav__item">
                    <div class="nav__icon">
                        <img src="./images/vidget/nav-time-tab.png" width="85">
                    </div>
                    <a href="./timetable.html"
                    class="nav__link" alt="My timetable" target="_blank">./timetable.html</a>
                </li>
                <li class="nav__item current">
                    <div class="nav__icon">
                        <img src="./images/vidget/nav-guide.png" width="35">
                    </div>
                    <a href="./guide.html"
                    class="nav__link" alt="How to do instruction" target="_blank">./guide.html</a>
                   
                </li>
                <li class="nav__item">
                    <div class="nav__icon">
                        <img src="./images/vidget/nav-myFolder.png" width="35">
                    </div>
                    <a href="./storage.html"
                    class="nav__link" alt="My timetable" target="_blank">./storage.html</a>
                </li>
                
            </ul>
        </nav>    
    </div>  
</header>