<section class="section lesson-plan__section">
    <div class="container lesson-plan__container">
        
        <!-- active lesson part -->
        <div class="img__top">
            <h2 class="lesson-part__title--active">Start
            </h2>
            <p class="part__plan"><span class="part__active">Greetings</span> | Feeling the register | Announcing lesson goals
        </p>
            </div>
        <div class="lesson__img">
            <img src="./images/layout-components/lesson.png" width="800">
        </div>
        <div class="img__bottom">
            <ul class="lesson-part__instructions">
                <li class="instruction__item">
                    <div class="instruction__title">
                        Greetings
                    </div>
                    <div class="instruction__icon-set">
                        <div class="icon-cont">
                            <svg class="done" width="32" height="32">
                                <use href="./images/icon.svg#icon-done"></use>
                            </svg>
                        </div>
                        <div class="icon-cont">
                            <img src="./images/eslskill/speak.png" width="35">
                        </div>
                        <div class="icon-cont">
                            <img src="./images/subj/ESL.png" width="35">
                        </div>
                    </div>
            
            
                </li>
                <li class="instruction__item">Feeling the register</li>
                <li class="instruction__item">Announcing lesson goals</li>
            </ul>
        </div>
        
        <!-- lesson-part_ cardset -->
        <ul class="lesson-part__list">
            <li class="lesson-part__item">
                <h2 class="lesson-part__title">Start
                    <div class="icon-cont-part">
                    <svg class="undone" width="32" height="32">
                        <use href="./images/icon.svg#icon-done"></use>
                    </svg>
                </div>
            </h2>
                
                
                <ul class="lesson-part__instructions">
                    <li class="instruction__item">
                        <div class="instruction__title">
                        Greetings
                        </div>
                        <div class="instruction__icon-set">
                            <div class="icon-cont">
                                <svg class="done" width="32" height="32">
                                    <use href="./images/icon.svg#icon-done"></use>
                                </svg>
                            </div>
                            <div class="icon-cont">
                                <img src="./images/eslskill/speak.png" width="35">
                            </div>
                            <div class="icon-cont">
                                <img src="./images/subj/ESL.png" width="35">
                            </div>
                        </div>
                        
                        
                    </li>
                    <li class="instruction__item">Feeling the register</li>
                    <li class="instruction__item">Announcing lesson goals</li>
                </ul>
            </li>
            <li class="lesson-part__item">
                <h2 class="lesson-part__title">Revising
                    <div class="icon-cont-part">
                        <svg class="undone" width="32" height="32">
                            <use href="./images/icon.svg#icon-done"></use>
                        </svg>
                    </div>
                </h2>
               
                <ul class="lesson-part__instructions">
                    <li class="instruction__item">Warmup small talk</li>
                    <li class="instruction__item">Homework check</li>
                    <li class="instruction__item">Testing</li>
                </ul>
            </li>
            <li class="lesson-part__item">
                <h2 class="lesson-part__title">Learning new material<div class="icon-cont-part">
                    <svg class="undone" width="32" height="32">
                        <use href="./images/icon.svg#icon-done"></use>
                    </svg>
                </div></h2>
                <ul class="lesson-part__instructions">
                    <li class="instruction__item">Study an example</li>
                    <li class="instruction__item">Explain the rule</li>
                    <li class="instruction__item">Start setting the skill</li>
                </ul>
            </li>
            <li class="lesson-part__item">
                <h2 class="lesson-part__title">Practicing<div class="icon-cont-part">
                    <svg class="undone" width="32" height="32">
                        <use href="./images/icon.svg#icon-done"></use>
                    </svg>
                </div></h2>
                <ul class="lesson-part__instructions">
                    <li class="instruction__item">Use new material with the old</li>
                    <li class="instruction__item">Drill</li>
                </ul>
            </li>
            <li class="lesson-part__item">
                <h2 class="lesson-part__title">Ending<div class="icon-cont-part">
                    <svg class="undone" width="32" height="32">
                        <use href="./images/icon.svg#icon-done"></use>
                    </svg>
                </div></h2>
                <ul class="lesson-part__instructions">
                    <li class="instruction__item">Summarising what have learned</li>
                    <li class="instruction__item">Set home assignment</li>
                </ul>
            </li>
           
            
        </ul>
    </div>
</section> -->