/* !!!-------------footer-----------!!!! */
.footer {
    background-color: tomato;
border-radius: 0 0 15px 15px;
border:3px solid white;

    padding-top: 60px;
    padding-bottom: 60px;
    
}

.footer-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-block__title{
    display: block;
    color: white;
    font-weight: 14px;
    letter-spacing: 1px;
    font-family: 'Pangolin', cursive;
}

