.lesson-plan__section{
    padding: 15px 0;
}

.lesson-plan__container{
    border-right: 3px solid tomato;
    border-left: 3px solid tomato;
}

.skills__list{
    display: flex;
    
}

.skills__icons{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px;
    width: 42px;
    border-radius: 50%;
border: 3px solid tomato;
background-color: white;
}

.skills__icons--header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 22px;
    // border-radius: 50%;
    // border: 3px solid tomato;
    // background-color: white;
}

.skills__icons--decor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 82px;
    

    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 15px;
    border-radius: 50%;
    border: 3px solid gray;
    background-color: white;
}

// .subjects__list{
//     // position: absolute;
//     // top: 0;
//     // right: 0;

//     display: flex;
//     gap: 10px;

//     // margin: 0 auto 18px auto;
// }
// .subjects__icons{
//     display: flex;
//     align-items: center;
//     gap: 10px;

//     padding: -9px;
//     width: 32px;
//     border: 3px solid white;
//     border-radius: 50%;
//     background-color: tomato;
// }

.lesson-part__list{
    display: flex;
    
    gap: 30px;
    @media screen and (max-width:479px) {
    flex-direction: column;
    }
     @include mobile{
    flex-wrap: wrap;
    }
}

.lesson-part__item{
    display: block;
    margin-bottom: 15px;
    width: 100%;
    @include tablet{
        width: calc((100% - 30px)/2);
    }
    @include desktop{
        width: calc((100% - 60px)/3);
    }
    
}



.lesson-part__title{
    margin-bottom: 9px;

    display: block;
    background-color: tomato;
    padding: 3px 9px;

    border-radius: 3px;

    font-family: 'Finger Paint', cursive;
    color: white;
}

.lesson__link{
    color: black;
    &:hover, &:focus{
        color: tomato;
    }
}

.lesson-part__instructions{
    padding: 9px;

    border: 1px solid gray;
    border-radius: 0 0 9px 9px;
}