.lesson-plan__section{
    padding: 15px 0;
}

.esl-skills__list{
    display: flex;
    justify-content: space-around;

    border: 3px solid tomato;
    border-radius: 15px;
    margin: 0 auto 18px auto;
    background-color: tomato;

    margin: 0 auto;
}

.esl-skills__icons{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px;
    width: 42px;
    border-radius: 50%;
border: 3px solid tomato;
background-color: white;
}

.10-skills__list{

}
.10-skills__icons{
    
}

.lesson-part__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 9px;
}

.lesson-part__item{
    margin-bottom: 15px;
}

.lesson-part__title{
    margin-bottom: 9px;

    font-family: 'Finger Paint', cursive;
    color: black;
}

.lesson__link{
    color: black;
    &:hover, &:focus{
        color: tomato;
    }
}