.lesson-plan__section{
    padding: 15px 0;
}

.esl-skills__list{
    display: flex;
    justify-content: space-around;

    border: 3px solid tomato;
    border-radius: 15px;
    margin-bottom: 18px;
}

.esl-skills__icons{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3px;
    width: 42px;
    border-radius: 50%;
border: 3px solid tomato;
background-color: white;
}

.lesson-part__item{
    margin-bottom: 15px;
}

.lesson-part__title{
    margin-bottom: 9px;

    font-family: 'Finger Paint', cursive;
    color: black;
}
