

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 100%;


    @include mobile {
            width: 480px;
    
        }

    @include tablet {
            width: 768px;
        
        }
    @include desktop {
            width: 1200px;
        }

   
}


.cardset {
        display: block;
        @include mobile {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }   
}

.accent {
    color: $accentColor;
}

.current {
    color: tomato;
    border: 3px solid white;
    background-color: gray;
}

body {
    background-color: $backgroundColor;
    font-family: 'Montserrat';
    color: $plainTextColor;
    font-size: 14px;
    letter-spacing: 0.03em;


}

.no-scroll {
    overflow: hidden;
}


