.heading{
    font-family: 'Freckle Face', cursive;
    font-weight: 14px;
    letter-spacing: 1px;
    font-size: 40px;
}

.it-font{
    font-family: 'IBM Plex Mono', monospace;
    color: black;
}
.handwritten-font{
    font-family: 'Pangolin', cursive;
    color: black;
}

.fancy-font{
     font-family: 'Finger Paint', cursive;
}