
.menu-btn{
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 3px;

    order: 1;

   // background-color: $yellowColor;

    width: 78px;
    height: 78px;



    @include tablet{
        display: none;
    }
}


.menu-btn-ava{
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 3px;

    order: 1;

   border: none;
    background-color: transparent;
    width: 78px;
    height: 78px;



}

.menu-icon{
    //display: block;
   
    font-size: 12px;
    width: 72px;
    height: 72px;
    stroke: rgb(32, 20, 2);;
   // fill: rgb(32, 20, 2);
    &:hover, &:focus{
        fill: $yellowColor;
        stroke: transparent;  
        
    }

}

.menu-icon-ava{
    //display: block;
   
    font-size: 12px;
    width: 72px;
    height: 72px;
   // stroke: rgb(32, 20, 2);;
   // fill: rgb(32, 20, 2);
    &:hover, &:focus{
        fill: $yellowColor;
        stroke: transparent;  
        
    }

}


.mob-menu-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;

    width: 38px;
    height: 38px;
}

.mob-menu-icon{
    display: inline-block;
    width: 100%;
    height: 100%;
    fill: rgb(243, 208, 9);
    stroke: rgb(32, 20, 2);
    &:hover, &:focus{
        stroke: white;
        fill: orangered;  
        border-radius: 50%;
        border: 1px solid white;
    }

}

.symbols{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 20px;
}

.symbol-icon{
    display: inline-block;
   

    width: 18px;
    // fill: rgb(243, 208, 9);
    fill: rgb(243, 208, 9);
    &:hover, &:focus{
        
        fill: $darkBrownColor;  
       
    }

}

.sign{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;

    width: 78px;
    height: 78px;



    
}

.sign-icon{
    display: inline-block;
   

    width: 100%;
    height: 100%;
    fill:rgb(245, 243, 239);;
    stroke: orangered;  
    stroke-width: 2px;
    &:hover, &:focus{
        stroke: white;
        fill: orangered;  
      
    }

}

.routine-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;

    width: 38px;
    height: 38px;
}

.routine-icon{
    display: inline-block;
   

    width: 100%;
    height: 100%;
    //stroke: white;
    fill: rgb(243, 208, 9);
    &:hover, &:focus{
       // stroke: green;
        fill: rgb(32, 20, 2);  
      
    }

}

.object-icon{
    display: inline-block;
   

    width: 100%;
    height: 100%;
    //stroke: white;
    fill: rgb(243, 208, 9);
    &:hover, &:focus{
       // stroke: green;
        fill: rgb(32, 20, 2);  
      
    }
}


