.logo__wrap {
    // display: block;
    // position: relative;
    width: 220px;
    height: auto;
    display: inline-block;
    //padding: 3px;
    border-radius: 10px;
    
}



.logo {
    font-family: 'Freckle Face', cursive;
    font-weight: 600;
    color:  rgb(32, 20, 2);
    font-size: 35px;

    line-height: 1.16;
    display: inline-block;
    text-align: justify;
    position: relative;
    
    order: 3;

    width: auto;
    height: auto;
    margin-left: 55px;
    text-shadow: 2px 2px rgb(243, 208, 9);

    &:hover, &:focus{
    color:  orangered;
   
    }   

    // &::before{
    //     content: "";

    //     z-index: 0;

    //     position: absolute;
    //     top: -10px;
    //     left: -60px;

    //     display: inline-block;
    //     width: 55px;
    //     height: 55px;

       
        
    //     background-image: url(../images/layout/smphone.jpg);
    //     background-size: contain;
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     @include tablet{
    //         font-size: 50px;
    //         background-image: url(../images/layout/tab.jpg);
    //     }
    
    //     @include desktop  {
    //         background-image: url(../images/layout/comp-pc.png);
    //     }
    // }

}

.home, .it, .timetable{
    position: relative;
    &::before{
        content: "";

        z-index: 0;

        position: absolute;
        top: -10px;
        left: -60px;

        display: inline-block;
        width: 55px;
        height: 55px;

       
        
      //  background-image: url(../images/layout/smphone.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @include tablet{
            font-size: 50px;
       //     background-image: url(../images/layout/tab.jpg);
        }
    
        @include desktop  {
           // background-image: url(../images/layout/comp-pc.png);
        }
    }
}


.home{
    &::before{
        background-image: url(../images/layout/house_colour.png);
    }
}


.it{
    &::before{
        background-image: url(../images/layout/smphone.jpg);
        @include tablet{
            background-image: url(../images/layout/tab.jpg);
        }
    
        @include desktop  {
            background-image: url(../images/layout/comp-pc.png);
        }
    }
}

.timetable{
    &::before{
        background-image: url(../images/layout/comp-planner.png);
    }
}





.heading{
    font-family: 'Freckle Face', cursive;
    font-weight: 14px;
    letter-spacing: 1px;
    font-size: 40px;
}

// .instruction{
//     font-family: 'IBM Plex Mono', monospace;
// }
// .hand-written{
//     font-family: 'Pangolin', cursive;
// }

// .fancy{
//      font-family: 'Finger Paint', cursive;
// }