.logo {
    font-family: 'Freckle Face', cursive;
    font-weight: 600;
    color: gray;
    font-size: 40px;
    line-height: 1.16px;
    display: inline-block;

   @include tablet{
        font-size: 50px;
    }

}

.logo__wrap {
    position: relative;
    // width: 250px;
    display: flex;
    align-items:center;
    height: 47px;

    padding: 3px;
    padding-left: 47px;
    border-radius: 10px;
    border: 3px solid white;
    background-color: rgba($color: white, $alpha: 0.5);
    background-image: url(../images/layout/smphone.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 5px;

    @include tablet{
        height: 57px;
        padding-left: 47px;
        // width: 270px;
        background-image: url(../images/layout/tab.jpg);
    }

    @include desktop{
       
        background-image: url(../images/layout/comp-pc.png);
    }

}

.heading{
    font-family: 'Freckle Face', cursive;
    font-weight: 14px;
    letter-spacing: 1px;
    font-size: 40px;
}

.instruction{
    font-family: 'IBM Plex Mono', monospace;
}
.hand-written{
    font-family: 'Pangolin', cursive;
}

.fancy{
     font-family: 'Finger Paint', cursive;
 }