.vidget{
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 12px;
    padding-left: 7px;

    width: 95px;
    height: 95px;

    border: 1px solid red;
    border-radius: 10px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    &.learn{
        background-image: url(../images/vidget/learn.png);
    }

}



    


