    $backgroundColor: #FFFFFF;
    $lightTextColor: #FFFFFF;
    $plainTextColor: #757575;
    $linkTextColor: #212121;
    $titleTextColor: #212121;
    $accentColor: tomato;
    $footerContactsColor: rgba(255, 255, 255, 0.6);
    $sectionBackgroundColor: #2F303A;
    $iconDefaultColor: #AFB1B8;

    $commonTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    $smallViewPort: 480px;
    $mediumViewPort: 760px;
    $largeViewPort: 1200px;

    $heroBgGradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));